<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <a href="/"><img
                                    src="https://metalengg.com/wp-content/uploads/2019/05/404-error-page-templates-1.jpg"
                                    class="img-fluid"></a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>