<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/portfolio.png" alt="Praveen" class="img-fluid"
                                title="Praveen Kumar Goswami">
                        </figure>

                    </div>
                    <!-- Right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>ABOUT ME</p>
                        <h1>Hi My name is <span class="text_clr">Praveen Kumar Goswami. I am a MERN Stack Developer.
                            </span>I have worked with JUSTDIAL as a Technical Support Engineer. but currently i'm
                            looking job for MERN Stack Developer Because it is my passion.</h1>

                        <a href="images/Praveen_cv.pdf"><button>Download CV</button></a>

                        <section>
                            <a href="https://www.facebook.com/praveen.goswami.3557" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href="https://www.instagram.com/im_praveen143/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/praveen-kumar-goswami-6a7881159/" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a>
                            <a href="https://github.com/praveengoswami143" target="_blank"><i
                                    class="fab fa-github"></i></a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer div -->
    {{>footer}}
</body>

</html>