<div class="container-fluid mb-5 mt-5">
    <div class="container text-center service_card">
        <div class="content mx-auto">
            <h1>Services Offers</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente tenetur fugit consequuntur vel
                laborum
                doloremque ab incidunt, modi deleniti officiis, sunt magni nesciunt quia, error neque? Maxime
                explicabo
                mollitia est!</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="card">
                    <img src="images/img1.png" alt="wed desing" class="img-fluid">
                    <h2>Web Designe</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis aspernatur
                        placeat
                        voluptatum.</p>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="card">
                    <img src="images/img2.png" alt="wed desing" class="img-fluid">
                    <h2>UI/UX Design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis aspernatur
                        placeat
                        voluptatum.</p>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="card">
                    <img src="images/SEO.png" alt="wed desing" class="img-fluid">
                    <h2>SEO Optimization</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis aspernatur
                        placeat
                        voluptatum.</p>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="card">
                    <img src="images/img4.png" alt="wed desing" class="img-fluid">
                    <h2>MERN Stack Developer</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda blanditiis aspernatur
                        placeat
                        voluptatum.</p>
                </div>
            </div>
        </div>
    </div>
</div>